@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #AB0032;
  color: white;
  padding: 2rem;
}

main {
  width: 100%;
  max-width: 50rem;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  margin-top: 3rem;
}

.blurb-text {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  font-weight: 300;
}

nav ul {
  list-style: none;
  margin-top: 2rem;
}

nav ul li {
  margin-bottom: 0.75rem;
}

nav a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  opacity: 0.7;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
}

@media screen and (min-width: 769px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }}